<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
    <script src="../js/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/new_style.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/sample.js"></script>
    <style>
      .avatar_container swiper-slide img {
        border: none !important;
      }
    </style>
  </head>
  <body>
    <div
      class="home-header d-flex justify-content-between align-items-center pt-4 z-3 page-header"
    >
      <a
        href="deposite.html"
        class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
      >
        <img src="../img/icon/icon-deposit.png" width="14" />
        <span class="ms-2 pl-5">Deposit</span>
      </a>
      <a href="home.html">
        <img
          src="../img/home-x-logo.png"
          style="width: 83px; height: 83px; position: relative"
        />
      </a>

      <a
        href="withdrawal.html"
        class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
      >
        <img
          src="../img/icon/icon-withdrawal.png"
          width="14"
          style="color: white"
        />
        <span class="ms-2">Withdrawal</span>
      </a>
    </div>
    <div class="home-header-bg-area h-66"></div>
    <div class="container container-xs home-bg">
      <div class="app-main avatar_container">
        <div class="avatar-row mb-3">
          <div class="text-white fs-12 fw-700 mb-1">XArmy</div>
          <div class="">
            <swiper-container
              class="mySwiper"
              loop="true"
              rewind="true"
              slides-per-view="6"
              free-mode="true"
            >
              <swiper-slide>
                <img
                  src="../img/avatar/xarmy/xarmy.png"
                  class="avatar-select"
                />
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
        <div class="avatar-row mb-3">
          <div class="text-white fs-12 fw-700 mb-1">Bollywood</div>
          <div class="">
            <swiper-container
              class="mySwiper"
              loop="true"
              rewind="true"
              slides-per-view="6"
              free-mode="true"
            >
              <swiper-slide>
                <img
                  src="../img/avatar/bollywood/1.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/bollywood/2.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/bollywood/3.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/bollywood/4.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/bollywood/5.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/bollywood/6.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/bollywood/7.png"
                  class="avatar-select"
                />
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
        <div class="avatar-row mb-3">
          <div class="text-white fs-12 fw-700 mb-1">Hollywood</div>
          <div class="">
            <swiper-container
              class="mySwiper"
              loop="true"
              rewind="true"
              slides-per-view="6"
              free-mode="true"
            >
              <swiper-slide>
                <img
                  src="../img/avatar/hollywood/1.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/hollywood/2.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/hollywood/3.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/hollywood/4.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/hollywood/5.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/hollywood/6.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/hollywood/7.png"
                  class="avatar-select"
                />
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
        <div class="avatar-row mb-3">
          <div class="text-white fs-12 fw-700 mb-1">Money Heist</div>
          <div class="">
            <swiper-container
              class="mySwiper"
              loop="true"
              rewind="true"
              slides-per-view="6"
              free-mode="true"
            >
              <swiper-slide>
                <img
                  src="../img/avatar/money heist/1.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/money heist/2.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/money heist/3.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/money heist/4.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/money heist/5.png"
                  class="avatar-select"
                />
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
        <div class="avatar-row mb-3">
          <div class="text-white fs-12 fw-700 mb-1">Sacred Games</div>
          <div class="">
            <swiper-container
              class="mySwiper"
              loop="true"
              rewind="true"
              slides-per-view="6"
              free-mode="true"
            >
              <swiper-slide>
                <img
                  src="../img/avatar/scared game/1.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/scared game/2.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/scared game/3.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/scared game/4.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/scared game/5.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/scared game/6.png"
                  class="avatar-select"
                />
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
        <div class="avatar-row mb-3">
          <div class="text-white fs-12 fw-700 mb-1">Squid games</div>
          <div class="">
            <swiper-container
              class="mySwiper"
              loop="true"
              rewind="true"
              slides-per-view="6"
              free-mode="true"
            >
              <swiper-slide>
                <img
                  src="../img/avatar/squid game/1.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/squid game/2.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/squid game/3.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/squid game/4.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/squid game/5.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/squid game/6.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/squid game/7.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/squid game/8.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/squid game/9.png"
                  class="avatar-select"
                />
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
        <div class="avatar-row mb-3">
          <div class="text-white fs-12 fw-700 mb-1">Tollywood</div>
          <div class="">
            <swiper-container
              class="mySwiper"
              loop="true"
              rewind="true"
              slides-per-view="6"
              free-mode="true"
            >
              <swiper-slide>
                <img
                  src="../img/avatar/tollywood/1.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/tollywood/2.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/tollywood/3.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/tollywood/4.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/tollywood/5.png"
                  class="avatar-select"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="../img/avatar/tollywood/6.png"
                  class="avatar-select"
                />
              </swiper-slide>
            </swiper-container>
          </div>
        </div>

        <div class="footer-bg-area"></div>
      </div>

      <div class="footer">
        <div class="footer-tab flex-grow-1 after-line">
          <a href="home.html" class="tab-action">
            <img src="../img/icon/icon-x.svg" class="tab-icon" />
            <div class="tab-label">Home</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 after-line">
          <a class="tab-action">
            <img src="../img/icon/icon-play.svg" class="tab-icon" />
            <div class="tab-label">In-Play</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1">
          <a class="tab-action">
            <img src="../img/icon/icon-refer.svg" class="tab-icon" />
            <div class="tab-label">Refer &amp; Earn</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a class="tab-action">
            <img src="../img/icon//icon-casino.svg" class="tab-icon" />
            <div class="tab-label">Casino</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="menu.html" class="tab-action">
            <img src="../img/icon/icon-menu-bar-active.svg" class="tab-icon" />
            <div class="tab-label" style="margin-bottom: -8px">Menu</div>
          </a>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $(".avatar-carousel").owlCarousel({
          margin: 5,
          autoWidth: true,
          dots: false,
        });
      });
    </script>
  </body>
</html>
