<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
    <script src="../js/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/new_style.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/sample.js"></script>

    <style>
      swiper-container.mySwiper.button-slider swiper-slide {
        width: 25% !important;
        margin-right: 9px !important;
      }
      .h-36 {
        height: 36px;
      }
    </style>
  </head>
  <body>
    <div
      class="home-header d-flex justify-content-between align-items-center pt-4 z-3 page-header"
    >
      <a
        href="deposite.html"
        class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
      >
        <img src="../img/icon/icon-deposit.png" width="14" />
        <span class="ms-2 pl-5">Deposit</span>
      </a>
      <a href="./home.html">
        <img
          src="../img/home-x-logo.png"
          style="width: 83px; height: 83px; position: relative"
        />
      </a>

      <a
        href="withdrawal.html"
        class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
      >
        <img
          src="../img/icon/icon-withdrawal.png"
          width="14"
          style="color: white"
        />
        <span class="ms-2">Withdrawal</span>
      </a>
    </div>
    <div class="home-header-bg-area h-66"></div>

    <div class="container container-xs home-bg vh-100">
      <div class="app-main h-100 overflow-x_hidden">
        <div class="">
          <!-- slider -->
          <div class="wrapper my-3 overflow-x_hidden">
            <!-- Slider main container -->

            <swiper-container
              class="mySwiper button-slider"
              slides-per-view="auto"
              slides-per-view="3"
              style="margin-left: 1px"
            >
              <swiper-slide>
                <a href="./inplay.html" class="text-decoration_none">
                  <div class="">
                    <p class="slider_purple_btn">In Play</p>
                  </div>
                </a>
              </swiper-slide>
              <swiper-slide>
                <a href="./inplay.html" class="text-decoration_none">
                  <div class="">
                    <p class="slider_purple_btn">Cricket</p>
                  </div>
                </a>
              </swiper-slide>
              <swiper-slide>
                <a href="./inplay.html" class="text-decoration_none">
                  <div class="">
                    <p class="slider_purple_btn">Football</p>
                  </div>
                </a>
              </swiper-slide>

              <swiper-slide>
                <a href="./inplay.html" class="text-decoration_none">
                  <div class="">
                    <p class="slider_purple_btn">Tennis</p>
                  </div>
                </a>
              </swiper-slide>
              <swiper-slide>
                <a href="./inplay.html" class="text-decoration_none">
                  <div class="">
                    <p class="slider_purple_btn">Sports Book</p>
                  </div>
                </a>
              </swiper-slide>
              <swiper-slide>
                <a href="./inplay.html" class="text-decoration_none">
                  <div class="">
                    <p class="slider_purple_btn">Fantasy</p>
                  </div>
                </a>
              </swiper-slide>

              <swiper-slide>
                <a href="./inplay.html" class="text-decoration_none">
                  <div class="">
                    <p class="slider_purple_btn">Teen Patti</p>
                  </div>
                </a>
              </swiper-slide>

              <swiper-slide>
                <a href="./inplay.html" class="text-decoration_none">
                  <div class="">
                    <p class="slider_purple_btn">contest</p>
                  </div>
                </a>
              </swiper-slide>

              <swiper-slide>
                <a href="./inplay.html" class="text-decoration_none">
                  <div class="">
                    <p class="slider_purple_btn">7Up 7Down</p>
                  </div>
                </a>
              </swiper-slide>
            </swiper-container>
          </div>
          <!-- slider -->
        </div>

        <div class="text-white fw-400 fs-15 mb-2">Bank Details</div>
        <div class="table-responsive">
          <table class="table-cus mb-2">
            <tbody>
              <tr>
                <td class="text-black">Bank Name</td>
                <td>
                  <img src="../img/icon/icon-bank.png" />
                </td>
                <td class="text-black">Bank Name</td>
                <td>Copy</td>
                <td class="text-black">
                  <img src="../img/icon/icon-file-layer.png" />
                </td>
              </tr>
              <tr>
                <td class="text-black">A/C Name</td>
                <td>
                  <img src="../img/icon/icon-profile-circle.png" />
                </td>
                <td class="text-black">Sikander</td>
                <td class="text-black">Copy</td>
                <td>
                  <img src="../img/icon/icon-file-layer.png" />
                </td>
              </tr>
              <tr>
                <td class="text-black">A/C No</td>
                <td class="text-black">
                  <img src="../img/icon/icon-text-list.png" />
                </td>
                <td class="text-black">Sikander</td>
                <td class="text-black">Copy</td>
                <td>
                  <img src="../img/icon/icon-file-layer.png" />
                </td>
              </tr>
              <tr>
                <td class="text-black">IFSC</td>
                <td>
                  <img src="../img/icon/icon-text-list.png" />
                </td>
                <td class="text-black">INDB0000248</td>
                <td class="text-black">Copy</td>
                <td>
                  <img src="../img/icon/icon-file-layer.png" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="my-4">
          <label
            for="enterUtrNo"
            class="form-label text-white fs-13 fw-500 mb-0"
            >Enter UTR Number.</label
          >
          <input
            type="text"
            value="85569741256358"
            class="form-control form-control-cus-pay fs-18 fw-600"
            id="enterUtrNo"
          />
        </div>

        <div class="row my-5 justify-content-center">
          <div class="col-4">
            <a
              href="./customerSupport.html"
              class="btn d-flex align-items-center justify-content-center bg-gray px-3"
            >
              <img src="../img/whatsapp.png" />
              <span class="fs-12 fw-900 lh-1"
                >Customer<br />
                Support</span
              >
            </a>
          </div>
          <div class="col-4">
            <a
              data-bs-toggle="modal"
              data-bs-target="#payment"
              class="btn btn-sm btn-success bg-green fw-600 px-5 br-yellow h-36"
              ><span class="fs-15 fw-700 lh-1">Pay</span></a
            >
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-sm table-bordered-cus">
            <thead>
              <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Time</th>
                <th>File</th>
                <th>UTR No.</th>
                <th>Remark</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">1</td>
                <td>500</td>
                <td>Completed</td>
                <td>8:15 am</td>
                <td></td>
                <td>65841</td>
                <td>Deposited</td>
              </tr>
              <tr>
                <td class="text-center">2</td>
                <td>1200</td>
                <td>Pending</td>
                <td>10:45 am</td>
                <td></td>
                <td>358951</td>
                <td>Deposited</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div
          class="pe-2 py-3 ps-0 border border-3 border-danger"
          style="background-color: #d9d9d9"
        >
          <div class="text-center text-danger fw-600 mb-2">RULES</div>
          <div>
            <ul class="fs-10 text-black fs-14">
              <li class="fw-500 mb-2">
                Transfer the amount through our safe payment gateway
              </li>
              <li class="fw-500 mb-2">
                Please make sure the payment details that you have entered is
                correct as they may change from time to time.
              </li>
              <li class="fw-500 mb-2">
                Sikanderpayx will not be responsible for mony deposited in old,
                inactive or closed accounts
              </li>
              <li class="fw-500 mb-2">
                Kindly enter the amount deposited and attached detailsd
                acreenshot with transation in and utr.
              </li>
              <li class="fw-500 mb-2">Click on pay</li>
              <li class="fw-500 mb-2">
                The amount will be deposited to your account intantly
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-bg-area"></div>
      </div>

      <!-- <div class="deposite-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <img src="../img/secure.png" width="120" />
                    <a data-bs-toggle="modal" data-bs-target="#payment" class="btn btn-sm btn-success bg-green fw-600 px-5">Pay</a>
                </div>
                <div class="lh-1 text-center">
                    <span class="text-grey-50 fw-600 fs-8 lh-1">By Continuing, i confirm that i am 18+ years old & play from a permitted state.</span>
                    <span class="text-blue fw-600 fs-8 lh-1">View Bonus T&C</span>
                </div>
            </div> -->
    </div>

    <div class="footer">
      <div class="footer-tab flex-grow-1 after-line">
        <a href="home.html" class="tab-action">
          <img src="../img/icon/icon-x.svg" class="tab-icon" />
          <div class="tab-label">Home</div>
        </a>
      </div>
      <div class="footer-tab flex-grow-1 after-line">
        <a href="./inplay.html" class="tab-action">
          <img src="../img/icon/icon-play.svg" class="tab-icon" />
          <div class="tab-label">In-Play</div>
        </a>
      </div>
      <div class="footer-tab flex-grow-1">
        <a href="./refer&earn.html" class="tab-action">
          <img src="../img/icon/icon-refer.svg" class="tab-icon" />
          <div class="tab-label">Refer &amp; Earn</div>
        </a>
      </div>
      <div class="footer-tab flex-grow-1 before-line">
        <a href="./livecasino.html" class="tab-action">
          <img src="../img/icon//icon-casino.svg" class="tab-icon" />
          <div class="tab-label">Casino</div>
        </a>
      </div>
      <div class="footer-tab flex-grow-1 before-line">
        <a href="menu.html" class="tab-action">
          <img src="../img/icon/icon-menu-bar-active.svg" class="tab-icon" />
          <div class="tab-label" style="margin-bottom: -8px">Menu</div>
        </a>
      </div>
    </div>

    <div class="modal fade" id="payment" tabindex="-1" aria-hidden="true">
      <div
        class="modal-dialog modal-dialog-centered modal-sm justify-content-center"
      >
        <div class="modal-content" style="width: 200px">
          <div class="modal-body d-flex flex-column align-items-center">
            <img src="../img/success.png" class="mb-2 ml-n25" />
            <div class="fw-600 fs-11 text-center text-black mb-3">
              Your Request Is In Our Queue!
            </div>
            <span
              class="bg-green2 text-white fs-12 fw-600 rounded-3 py-2 px-3 mb-2"
              >Thank You</span
            >
            <span class="text-dard-grey fs-9 fw-600"
              >For Choosing Sikanderplayx</span
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
