<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sikander PlayX</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
       
        <link rel="stylesheet" href="../css/new_style.css">
        <link rel="stylesheet" href="../css/home.css">
        <link
        href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
        rel="stylesheet"
      />
      <script src="../js/jquery.min.js"></script>
  
      <link
        rel="stylesheet"
        href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
      />
        <script src="../js/sample.js"></script>
        <script src="../js/bootstrap.bundle.js"></script>
       
    </head>
    <body>

      <!-- header -->
      <!-- header-fixed -->
        <div class="container container-xs overflow-x_hidden home-bg vh-100">
           
           
          <div class="avatar-bread my-5 position-relative mb-25 px-2 mb-0 mt-0 pt-3" bis_skin_checked="1">
            <a href="home.html">
              <div class="logo position-absolute d-flex justify-content-center w-100" style="bottom: 90px; z-index: 9999; left: 0" bis_skin_checked="1">
                <img src="../img/home-x-logo.png" alt="" srcset="" class="w-25">
              </div>
              </a>
              <div class="row" bis_skin_checked="1">
                <div class="top-headbread px-2" bis_skin_checked="1">
                  <div class="card position-relative br-yellow py-4 px-3 mb-15" style="
                      background-image: url(../img/avatar/top-bread/sffbs\ 1.png);
                      background-size: cover;
                      border-radius: 13px;
                    " bis_skin_checked="1">
                    <div class="row align-items-center" bis_skin_checked="1">
                      <div class="col-7" bis_skin_checked="1">
                        <div class="d-flex align-items-center justify-content-start" bis_skin_checked="1">
                       
      <div class="w-40 mr-10">
        <a href="./avatar.html" class="text-decoration_none">
        <img src="../img/avatar/top-bread/Mask group (7).png" alt="" srcset="" class="w-100">
      </a>    
      </div>
                          
              
                          
      
                          <div class="avatar-content" bis_skin_checked="1">
                            <span class="text-yellow fs-9">Welcome</span>
      
                            <h4 class="text-white fs-18">King@x</h4>
                          </div>
                        </div>
                      </div>
      
                      <!-- test starts -->
                      <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group dropdown-wrapper lang_drop_down_container">
                          <button class="btn dropdown-toggle text-white fs-10 br-yellow mbet" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Choose Language
                          </button>
                          <ul class="dropdown-menu bg-gr p-0 bg-transparent text-center" aria-labelledby="dropdownMenuLink" style="">
                            <li class="lang_drop_down fs-12 fw-600">
                              <a class="dropdown-item py-0 text-purple" href="#">English</a>
                            </li>
                            <li class="lang_drop_down fs-12">
                              <a class="dropdown-item py-0 text-purple" href="#">Marathi</a>
                            </li>
                            <li class="lang_drop_down fs-12">
                              <a class="dropdown-item py-0 text-purple" href="#">Hindi</a>
                            </li>
                            <li class="lang_drop_down fs-12">
                              <a class="dropdown-item py-0 text-purple" href="#">Gujarati</a>
                            </li>
                            <li class="lang_drop_down fs-12">
                              <a class="dropdown-item py-0 text-purple" href="#">Tamil</a>
                            </li>
                            <li class="lang_drop_down fs-12">
                              <a class="dropdown-item py-0 text-purple" href="#">Bangali</a>
                            </li>
                            <li class="lang_drop_down fs-12">
                              <a class="dropdown-item py-0 text-purple" href="#">Telugu</a>
                            </li>
                            <li class="lang_drop_down fs-12">
                              <a class="dropdown-item py-0 text-purple" href="#">Kannada</a>
                            </li>
                            <li class="lang_drop_down fs-12">
                              <a class="dropdown-item py-0 text-purple" href="#">Malayalam</a>
                            </li>
                            <li class="lang_drop_down fs-12">
                              <a class="dropdown-item py-0 text-purple" href="#">Bhojpuri</a>
                            </li>
                          </ul>
                        </div>
                      </div>
      
                      <!-- test Ends -->
                      <!-- <div
                        class="col-5 d-flex justify-content-end"
                        bis_skin_checked="1"
                      >
                        <div class="dropdown-lang" bis_skin_checked="1">
                          <div
                            class="dropdown z-index99999"
                            style="z-index: 99999999"
                            bis_skin_checked="1"
                          >
                            <a
                              class="btn dropdown-toggle text-white fs-10 br-yellow mbet"
                              href="#"
                              role="button"
                              id="dropdownMenuLink"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                            >
                              Choose Language
                            </a>
      
                            <ul
                              class="dropdown-menu bg-gr p-0 background-transparent"
                              aria-labelledby="dropdownMenuLink"
                            >
                              <li class="lang_drop_down">
                                <a class="dropdown-item fs-10" href="#">Action</a>
                              </li>
                              <li class="lang_drop_down">
                                <a class="dropdown-item" href="#">Another action</a>
                              </li>
                              <li class="lang_drop_down">
                                <a class="dropdown-item" href="#"
                                  >Something else here</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div> --> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
        <div class="app-main  py-3 my-4 overflow-x_hidden">
                <div class="text-white fw-600 mb-2">Have A Coupon?</div>
                <div>
                    <form class="row g-3">
                        <div class="col-9 fs-12">
                            <input type="text" class="form-control" id="couponCode" placeholder="Enter Coupon Code">
                        </div>
                        <div class="col-3 ">
                            <button type="submit" class="btn btn-primary btn-grnd2 border-0 fs-12 fw-600 py-11 mb-3 w-100 text-white" style="color:#fff !important">Apply</button>
                        </div>
                    </form>
                </div>

                <div class="d-flex justify-content-between align-items-center mb-2 ">
                    <div class="d-flex align-items-center mt-3">
                        <img src="../img/icon/icon-offer.png" />
                        <span class="fs-14 fw-600 text-white ms-2">Best Offers</span>
                    </div>
                </div>
                <div class="offer-slot">
                    <div class="offer-slot__info">
                        <img src="../img/offer-sidebar.png" />
                        <span>OFFER</span>
                    </div>
                    <div class="offer-slot__main">
                        <div>
                            <div class="fs-12 fw-600 mb-1">100% Joining Bonus</div>
                            <div>
                                <span class="coupon">X_BONUSCASH</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center align-self-end mt-1">
                            <img src="../img/icon/icon-applied.png" width="16" height="20" />
                            <span class="fs-10 fw-600" style="color: #02BB07;">Applied</span>
                            <div class="fs-5 fw-600 text-blue">View Vonus T&C</div>
                        </div>
                    </div>
                </div>
                <div class="offer-slot">
                    <div class="offer-slot__info">
                        <img src="../img/offer-sidebar.png" />
                        <span>OFFER</span>
                    </div>
                    <div class="offer-slot__main">
                        <div>
                            <div class="fs-12 fw-600 mb-1">Spin To Win Daily bonus</div>
                            <div>
                                <span class="coupon">X_BONUSCASH</span>
                                <span class="ms-5 fw-600 fs-10" data-bs-toggle="modal" data-bs-target="#spinNow" style="color: #047993;">Spin Now</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center align-self-end mt-1">
                            <img src="../img/icon/icon-applied.png" width="16" height="20" />
                            <span class="fs-10 fw-600" style="color: #02BB07;">Applied</span>
                            <div class="fs-5 fw-600 text-blue">View Vonus T&C</div>
                        </div>
                    </div>
                </div>
                <div class="offer-slot">
                    <div class="offer-slot__info">
                        <img src="../img/offer-sidebar.png" />
                        <span>OFFER</span>
                    </div>
                    <div class="offer-slot__main">
                        <div>
                            <div class="fs-12 fw-600 mb-1">10% Joining Bonus</div>
                            <div>
                                <span class="coupon">X_BONUSCASH</span>
                                <span class="ms-5 fw-600 fs-10" data-bs-toggle="modal" data-bs-target="#activate" style="color: #047993;">Activate</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center align-self-end mt-1">
                            <div class="fs-5 fw-600 text-blue">View Vonus T&C</div>
                        </div>
                    </div>
                </div>
                <div class="offer-slot">
                  <div class="offer-slot__info">
                      <img src="../img/offer-sidebar.png" />
                      <span>OFFER</span>
                  </div>
                  <div class="offer-slot__main">
                      <div>
                          <div class="fs-12 fw-600 mb-1">5% Lossback Bonus</div>
                          <div>
                              <span class="coupon">X_BONUSCASH</span>
                          </div>
                      </div>
                      <div class="d-flex flex-column align-items-center align-self-end mt-1">
                          <img src="../img/icon/icon-applied.png" width="16" height="20" />
                          <span class="fs-10 fw-600" style="color: #02BB07;">Applied</span>
                          <div class="fs-5 fw-600 text-blue">View Vonus T&C</div>
                      </div>
                  </div>
              </div>
              <div class="offer-slot">
                <div class="offer-slot__info">
                    <img src="../img/offer-sidebar.png" />
                    <span>OFFER</span>
                </div>
                <div class="offer-slot__main">
                    <div>
                        <div class="fs-12 fw-600 mb-1">5% Reffer Bonus</div>
                        <div>
                            <span class="coupon">X_BONUSCASH</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center align-self-end mt-1">
                        <img src="../img/icon/icon-applied.png" width="16" height="20" />
                        <span class="fs-10 fw-600" style="color: #02BB07;">Applied</span>
                        <div class="fs-5 fw-600 text-blue">View Vonus T&C</div>
                    </div>
                </div>
            </div>

            <div class="offer-slot">
              <div class="offer-slot__info">
                  <img src="../img/offer-sidebar.png" />
                  <span>OFFER</span>
              </div>
              <div class="offer-slot__main">
                  <div>
                      <div class="fs-12 fw-600 mb-1">Reedem Vochur</div>
                      <div>
                          <span class="coupon">X_BONUSCASH</span>
                          <span class="ms-5 fw-600 fs-10" data-bs-toggle="modal" data-bs-target="#activate" style="color: #047993;">Activate</span>
                      </div>
                  </div>
                  <div class="d-flex flex-column align-items-center align-self-end mt-1">
                      <div class="fs-5 fw-600 text-blue">View Vonus T&C</div>
                  </div>
              </div>
          </div>
             
               
                <div class="offer-slot">
                  <div class="offer-slot__info">
                    <img src="../img/offer-sidebar.png">
                    <span>OFFER</span>
                  </div>
                  <div class="offer-slot__main">
                    <div>
                      <div class="fs-8 fw-600 mb-1">
                        Follow us on SOCIAL MEDIA <br>100 INR INSTANT BONUS
                      </div>
                      <div>
                        <span class="coupon">X_BONUSCASH</span>
                        <span class="ms-5 fw-600 fs-10" data-bs-toggle="modal" data-bs-target="#voucher" style="color: #047993">Activate</span>
                      </div>
                    </div>
                    <div class="d-flex align-self-start mt-1">
                      <a href="#">
                        <img src="../img/icon/icon-whatsapp.png" alt="whatsapp">
                      </a>
                      <a href="#" class="ms-1">
                        <img src="../img/icon/icon-facebook.png" alt="whatsapp">
                      </a>
                      <a href="#" class="ms-1">
                        <img src="../img/icon/icon-instagram.png" alt="whatsapp">
                      </a>
                      <a href="#" class="ms-1">
                        <img src="../img/icon/icon-telegram.png" alt="whatsapp">
                      </a>
                      <a href="#" class="ms-1">
                        <img src="../img/icon/icon-youtube.png" alt="whatsapp">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="offer-slot">
                  <div class="offer-slot__info">
                    <img src="../img/offer-sidebar.png">
                    <span>OFFER</span>
                  </div>
                  <div class="offer-slot__main">
                    <div>
                      <div class="fs-8 fw-600 mb-1">
                        Get 15% Deposite Bonus When You Share With 15 Friends!
                      </div>
                      <div>
                        <span class="coupon">X_BONUSCASH</span>
                        <span class="ms-5 fw-600 fs-10" data-bs-toggle="modal" data-bs-target="#share" style="color: #047993">Activate</span>
                      </div>
                    </div>
                    <div class="d-flex flex-column align-items-center align-self-end mt-1">
                      <img src="../img/whatsapp.png" width="30px">
                      <!-- <span class="fs-10 fw-600" style="color: #02bb07">Applied</span> -->
                      <div class="fs-7 fw-600 text-blue">View Vonus T&amp;C</div>
                    </div>
                  </div>
                </div>

                <!-- second slider -->
      <div class="wrapper h-10 mt-10 my-5">
        <!-- Slider main container -->
        

        <swiper-container
          class="mySwiper button-slider m-0"
          slides-per-view="auto"
        >
          <swiper-slide>
            <a href="./inplay.html" class="text-decoration_none">
              <div class="">
                <p class="slider_purple_btn active">In Play</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="./inplayCricket.html" class="text-decoration_none">
              <div class="">
                <p class="slider_purple_btn">Cricket</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="./inplayFootball.html" class="text-decoration_none">
              <div class="">
                <p class="slider_purple_btn">Football</p>
              </div>
            </a>
          </swiper-slide>

          <swiper-slide>
            <a href="./inplayTennis.html" class="text-decoration_none">
              <div class="">
                <p class="slider_purple_btn">Tennis</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="./inplay.html" class="text-decoration_none">
              <div class="">
                <p class="slider_purple_btn">Sports Book</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="./inplay.html" class="text-decoration_none">
              <div class="">
                <p class="slider_purple_btn">Fantasy</p>
              </div>
            </a>
          </swiper-slide>

          <swiper-slide>
            <a href="./inplay.html" class="text-decoration_none">
              <div class="">
                <p class="slider_purple_btn">Teen Patti</p>
              </div>
            </a>
          </swiper-slide>

          <swiper-slide>
            <a href="./inplay.html" class="text-decoration_none">
              <div class="">
                <p class="slider_purple_btn">contest</p>
              </div>
            </a>
          </swiper-slide>

          <swiper-slide>
            <a href="./inplay.html" class="text-decoration_none">
              <div class="">
                <p class="slider_purple_btn">7Up 7Down</p>
              </div>
            </a>
          </swiper-slide>
        </swiper-container>
      </div>
      <!-- end -->
      <!-- slider start -->

      <div class="w-100 d-flex justify-content-center">
        <div class="w-100">
            <img src="../img/avatar/bonus/capsule.png" alt="" srcset="" class="w-100">
        </div>
       
      </div>

     <!-- second slider -->
        <!-- second slider -->
        <div class="wrapper h-170 my-5">
           
  
            <swiper-container class="mySwiper patti"  slides-per-view="3"
            space-between="10" free-mode="true">
            <swiper-slide><img src="../img/avatar/home/secsl (3).png"/></swiper-slide>
            <swiper-slide><img src="../img/avatar/home/secsl (5).png"/></swiper-slide>
            <swiper-slide><img src="../img/avatar/home/secsl (1).png"/></swiper-slide>
            <swiper-slide><img src="../img/avatar/home/secsl (2).png"/></swiper-slide>
            <swiper-slide><img src="../img/avatar/home/secsl (4).png"/></swiper-slide>
            <swiper-slide><img src="../img/avatar/home/secsl (3).png"/></swiper-slide>
            <swiper-slide><img src="../img/avatar/home/secsl (3).png"/></swiper-slide>
            <swiper-slide><img src="../img/avatar/home/secsl (5).png"/></swiper-slide>
            <swiper-slide><img src="../img/avatar/home/secsl (1).png"/></swiper-slide>
            <swiper-slide><img src="../img/avatar/home/secsl (2).png"/></swiper-slide>
            <swiper-slide><img src="../img/avatar/home/secsl (4).png"/></swiper-slide>
            <swiper-slide><img src="../img/avatar/home/secsl (3).png"/></swiper-slide>
          </swiper-container>
          </div>
  
          <!-- end -->
  
          <!-- end -->
  
          <!-- social-links -->
  
          <div class="col-12 container">
            <div class="fs-12 fw-700 mb-2 text-yellow">
              Available Payment Method
            </div>
            <div
              class="d-flex flex-wrap justify-content-left w-100 px-1 mb-2 br-none"
            >
              <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
                <img src="../img/icon/icon-gpay.png" width="16" />
                <span>Google pay</span>
              </button>
              <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
                <img src="../img/icon/icon-paytm.png" width="16" />
                <span>Paytm</span>
              </button>
              <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
                <img src="../img/icon/icon-phonepay.png" width="16" />
                <span>Phone Pay</span>
              </button>
              <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
                <img src="../img/icon/icon-bitcoin.png" width="16" />
                <span>Bit Coim</span>
              </button>
              <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
                <img src="../img/icon/icon-whatsapp.png" width="16" />
                <span>Whats app</span>
              </button>
              <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
                <img src="../img/icon/icon-sikander.png" width="20" />
                <span>Sikander Exchange</span>
              </button>
              <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
                <span class="bg-white"
                  ><img src="../img/icon/icon-upi.png" width="16"
                /></span>
                <span>UPI</span>
              </button>
            </div>
          </div>
  
          <div class="col-12 container">
            <div class="fs-12 fw-700 mb-2 text-yellow">Social Network</div>
            <div
              class="d-flex flex-wrap justify-content-left w-100 px-1 mb-2 br-none"
            >
              <img
                src="../img/avatar/home/bot (2).png"
                alt=""
                srcset=""
                width="40%"
              />
            </div>
          </div>
  
          <div class="col-12 container">
            <div class="fs-12 fw-700 mb-2 text-yellow">License</div>
            <div
              class="d-flex flex-wrap justify-content-left w-100 px-1 mb-2 br-none g-10"
            >
              <img
                src="../img/avatar/home/bot (1).png"
                alt=""
                srcset=""
                width="10%"
              />
              <img
                src="../img/avatar/home/bot (3).png"
                alt=""
                srcset=""
                width="30%"
              />
            </div>
          </div>
  
          <div class="footer-bg-area"></div>
        </div>
  
        <div class="footer">
          <div class="footer-tab flex-grow-1 after-line">
            <a href="home.html" class="tab-action">
              <img src="../img/icon/icon-x-active.svg" class="tab-icon" />
              <div class="tab-label">Home</div>
            </a>
          </div>
          <div class="footer-tab flex-grow-1 after-line">
            <a href="./inplay.html" class="tab-action">
              <img src="../img/icon/icon-play.svg" class="tab-icon" />
              <div class="tab-label">In-Play</div>
            </a>
          </div>
          <div class="footer-tab flex-grow-1">
            <a href="./refer&earn.html" class="tab-action">
              <img src="../img/icon/icon-refer.svg" class="tab-icon" />
              <div class="tab-label">Refer &amp; Earn</div>
            </a>
          </div>
          <div class="footer-tab flex-grow-1 before-line">
            <a href="./livecasino.html" class="tab-action">
              <img src="../img/icon//icon-casino.svg" class="tab-icon" />
              <div class="tab-label">Casino</div>
            </a>
          </div>
          <div class="footer-tab flex-grow-1 before-line">
            <a href="menu.html" class="tab-action">
              <img src="../img/icon/icon-menu-bar.svg" class="tab-icon" />
              <div class="tab-label" style="margin-bottom: -8px">Menu</div>
            </a>
          </div>
        </div>
      </div>

         
        </div>

        <!-- Modal -->
        <div class="modal fade" id="spinNow" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm justify-content-center">
                <div class="modal-content" style="width: 200px;">
                    <div class="modal-body d-flex flex-column align-items-center px-2">
                        <img src="../img/spin.png" class="mb-2" />
                        <div class="fw-700 fs-20">"Oops!</div>
                        <div class="fw-600 fs-13 text-center text-black">You've Used Up All Your Spins For Today. Come Back Tomorrow For More Chances Tto Win Big!</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="activate" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm justify-content-center">
                <div class="modal-content pb-3" style="width: 200px;">
                    <div class="modal-body d-flex flex-column align-items-center px-2">
                        <img src="../img/success.png" class="mb-2 ml-n25" />
                        <div class="fw-600 fs-15 text-center text-black">"You've Reached Your Bonuse Limit In This Category"</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="voucher" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm justify-content-center">
                <div class="modal-content pb-3" style="width: 200px;">
                    <div class="modal-body d-flex flex-column align-items-center px-2">
                        <img src="../img/success.png" class="mb-2 ml-n25" />
                        <div class="fw-600 fs-15 text-center text-black">Your Voucher Has Been Successfully Redeemed."</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="share" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm justify-content-center">
                <div class="modal-content pb-3" style="width: 200px;">
                    <div class="modal-body d-flex flex-column align-items-center px-2">
                        <img src="../img/success.png" class="mb-2 ml-n25" />
                        <div class="fw-600 fs-13 text-center text-black">"You've Shared With 5 Friends! Just 10 More To Go To Unlock Your Bonus!"</div>
                    </div> 
                </div>
            </div>
        </div>


      

    

    </body>
</html>