<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />

    <link rel="stylesheet" href="../css/new_style.css" />

    <script src="../js/jquery.min.js"></script>
    <script src="../js/sample.js"></script>
  </head>
  <body>
    <div
      class="home-header d-flex justify-content-between align-items-center pt-4 z-3 page-header"
    >
      <a
        href="deposite.html"
        class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
      >
        <img src="../img/icon/icon-deposit.png" width="14" />
        <span class="ms-2 pl-5">Deposit</span>
      </a>
      <a href="./home.html">
        <img src="../img/home-x-logo.png" class="logo_xnew position-relative" />
      </a>

      <a
        href="withdrawal.html"
        class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
      >
        <img
          src="../img/icon/icon-withdrawal.png"
          width="14"
          style="color: white"
        />
        <span class="ms-2">Withdrawal</span>
      </a>
    </div>
    <div class="home-header-bg-area h-66"></div>
    <div class="container container-xs home-bg vh-100">
      <!-- <div class="app-header-bg-area h-30"></div> -->
      <div class="app-main over overflow-x_hidden">
        <!-- second slider -->
        <div class="wrapper h-170">
          <swiper-container
            class="mySwiper patti"
            slides-per-view="1"
            space-between="10"
            free-mode="true"
          >
            <swiper-slide
              ><img src="../img/avatar/home/secsl (3).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (5).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (1).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (2).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (4).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (3).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (3).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (5).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (1).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (2).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (4).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (3).png"
            /></swiper-slide>
          </swiper-container>
        </div>

        <!-- end -->

        <!-- 
                <div class="d-flex w-100 px-1 mb-2">
                    <a href="withdrawal.html" class="btn btn-sm btn-grey flex-grow-1 fw-600 fs-10 fst-italic me-1 mb-2 px-1">Withdrawal</a>
                    <a href="addAccount.html" class="btn btn-sm btn-grey flex-grow-1 fw-600 fs-10 fst-italic me-1 mb-2 px-1">Add Account</a>
                    <a href="customerSupportWithdrawl.html" class="btn btn-sm bg-yellow flex-grow-1 fw-600 fs-10 fst-italic me-1 mb-2 px-1">Customer Support</a>
                </div>
                 -->

        <div class="lh-1 text-center px-2 mb-3">
          <span class="fs-10 fw-600 lh-1" style="color: #808285"
            >if you need instant support then select the below category option
            to reach us quickly. our support team will reply as soon as possible
            after you send us a message</span
          >
        </div>

        <div class="text-white fw-600 text-center my-3">
          Select Your Support Category
        </div>
        <div class="mb-4">
          <div class="row gx-2 gy-1 justify-content-center px-3 mb-2">
            <div class="col-3">
              <a href="#" class="card-tile card-tile-min-height">
                <div class="fw-800 fs-12 text-yellow text-center lh-1 mb-2">
                  Deposit Support
                </div>
                <!-- <div class="fs-600 text-white fs-10 text-center lh-1">instant service</div> -->
              </a>
            </div>
            <div class="col-3">
              <a href="#" class="card-tile card-tile-min-height">
                <div class="fw-800 fs-12 text-yellow text-center lh-1 mb-2">
                  Withdrawal Support
                </div>
                <!-- <div class="fs-600 text-white fs-10 text-center lh-1">instant service</div> -->
              </a>
            </div>
            <div class="col-3">
              <a href="#" class="card-tile card-tile-min-height">
                <div class="fw-800 fs-12 text-yellow text-center lh-1 mb-2">
                  Casino support
                </div>
                <!-- <div class="fs-600 text-white fs-10 text-center lh-1">instant service</div> -->
              </a>
            </div>
          </div>
          <div class="row gx-2 gy-1 justify-content-center px-3 mb-2">
            <div class="col-3">
              <a href="#" class="card-tile card-tile-min-height">
                <div class="fw-800 fs-12 text-yellow text-center lh-1 mb-2">
                  Bet Support
                </div>
                <!-- <div class="fs-600 text-white fs-10 text-center lh-1">instant service</div> -->
              </a>
            </div>
            <div class="col-3">
              <a href="#" class="card-tile card-tile-min-height">
                <div class="fw-800 fs-12 text-yellow text-center lh-1 mb-2">
                  Other support
                </div>
                <!-- <div class="fs-600 text-white fs-10 text-center lh-1">instant service</div> -->
              </a>
            </div>
          </div>
        </div>

        <div class="text-white fw-600 text-center mb-4">
          Or You Can Chat Live At
        </div>
        <div class="d-flex justify-content-center mb-4">
          <a
            href="#"
            class="btn btn-yellow d-flex align-items-center justify-content-center rounded-pill px-3"
            style="width: 150px"
          >
            <img src="../img/whatsapp.png" />
            <span class="fs-12 fw-900 lh-1 ps-2"
              >Live Chat <br />
              Support</span
            >
          </a>
        </div>

        <div class="footer-bg-area"></div>
      </div>

      <div class="footer">
        <div class="footer-tab flex-grow-1 after-line">
          <a href="home.html" class="tab-action">
            <img src="../img/icon/icon-x.svg" class="tab-icon" />
            <div class="tab-label">Home</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 after-line">
          <a href="./inplay.html" class="tab-action">
            <img src="../img/icon/icon-play.svg" class="tab-icon" />
            <div class="tab-label">In-Play</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1">
          <a href="./refer&earn.html" class="tab-action">
            <img src="../img/icon/icon-refer.svg" class="tab-icon" />
            <div class="tab-label">Refer &amp; Earn</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="./livecasino.html" class="tab-action">
            <img src="../img/icon//icon-casino.svg" class="tab-icon" />
            <div class="tab-label">Casino</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="menu.html" class="tab-action">
            <img src="../img/icon/icon-menu-bar-active.svg" class="tab-icon" />
            <div class="tab-label" style="margin-bottom: -8px">Menu</div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
