<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <style>
      .top-26 {
        top: 26px;
      }
    </style>
  </head>
  <body>
    <div class="container container-xs vh-100 intro-bg" id="intro">
      <div class="d-flex align-items-center justify-content-center vh-100">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          POP-UP
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-transparent">
              <div class="modal-body">
                <div class="position-relative">
                  <img src="../img/pop-up/Popup-2.png" alt="" class="w-100" />
                  <div
                    class="position-absolute top-26 start-50 translate-middle"
                  >
                    <img
                      src="../img/pop-up/Popup_logo.png"
                      alt=""
                      width="150px"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/bootstrap.bundle.js"></script>
    <!-- <script src="../js/jquery.min.js"></script> -->
  </body>
</html>
