<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container container-xs vh-100 joinnow-bg">
      <div class="d-flex flex-column justify-content-between vh-100">
        <div class="d-flex justify-content-center w-100">
          <img
            src="../img/play-X-logo.png"
            class="intro-splash-play-x-logo"
            style="width: 250px; height: 250px; margin-top: -20px"
          />
        </div>
        <img
          src="../img/trusted-by-million.png"
          style="width: 190px; margin-top: -115px"
        />
        <div class="d-flex flex-column align-items-center W-100 mb-5">
          <a href="register.html" class="btn btn-login mb-4">JOIN NOW</a>
          <div class="fs-12 mb-5">
            <span class="text-white">Already a player ?</span>
            <a href="#" class="text-yellow text-decoration-none">Log in</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
