<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />
  </head>
  <body>
    <div
      class="container container-xs vh-100 create-user-bg"
      style="background-image: url(../img/Login.png)"
    >
      <div class="d-flex flex-column justify-content-between vh-100">
        <div class="d-flex justify-content-center w-100">
          <img
            src="../img/Group 11.png"
            class="w-75"
            style="margin-top: 30px"
          />
        </div>
        <div class="px-3" style="margin-top: -40px">
          <div class="login-title text-center mb-4">Login</div>
          <div class="mb-35">
            <input
              type="text"
              class="form-control login-form-control"
              placeholder="Phone number or username"
            />
            <!-- <div class="fs-12 fw-500 text-danger ps-2 mt-1">Please select a valid state.</div> -->
          </div>
          <div class="mb-2">
            <input
              type="text"
              class="form-control login-form-control"
              placeholder="Password"
            />
            <!-- <div class="fs-12 fw-500 text-danger ps-2 mt-1">Please select a valid state.</div> -->
          </div>
          <div class="d-flex text-white justify-content-between">
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Remember Me</label
              >
            </div>
            <div class="mb-3 form-check">
              <a href="./forgotpass.html" class="text-decoration_none">
                <p
                  class="form-check-label"
                  for="exampleCheck1"
                  style="color: #00cefb"
                >
                  Forgotten password
                </p>
              </a>
            </div>
          </div>
          <div
            class="d-flex justify-content-center flex-column align-items-center"
          >
            <a href="home.html" class="btn btn-login mb-3">Login</a>

            <a href="./loginwithotp.html" class="text-decoration_none">
              <span class="text-blue fs-14" style="color: #00cefb"
                >Login via OTP</span
              >
            </a>
          </div>
        </div>

        <div
          class="d-flex flex-column align-items-center justify-content-center W-100 px-3 mb-5"
          style="gap: 20px !important"
        >
          <div class="fs-12 text-white mt-10">
            <span class="mb-10">New to X ?</span>
            <span class="fw-700">T &amp; C</span>
          </div>
          <div>
            <a
              href="register.html"
              class="btn btn-re mb-3 rounded-pill"
              style="
                background-color: transparent !important;
                color: white;
                border: 1px solid #fff;
                width: 193px;
                height: 54px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 22px;
                font-weight: 900;
                font-style: italic;
              "
              >Register Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
