<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css"
    />
    <script src="../js/jquery.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/jquery.min.js"></script>
    <style>
      .slider_purple_btn {
        /* padding: 0 10px; */
        /* width: 69px; */
        height: 47px;
        border-radius: 7px;
        font-family: "Alfa Slab One", serif;
        color: white;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #380d54;
        border: 2px solid #f0b30d97;
        text-transform: uppercase;
      }
      .h-10 {
        height: 60px;
      }
      .gap-10 div {
        margin: 0 5px;
      }
      .border-radius-none {
        border-radius: 5px !important;
      }
      .table_bg-gray {
        background: #d5d5d5;
        color: #111;
        border-radius: 0 0 10px 10px;
      }
      /* .slider_purple_btn */
    </style>
  </head>
  <body>
    <div class="container container-xs home-bg position-relative">
      <div
        class="home-header d-flex justify-content-between align-items-center pt-4 z-3"
      >
        <a
          href="deposite.html"
          class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
        >
          <img src="../img/icon/icon-deposit.png" width="14" />
          <span class="ms-2 pl-5">Deposit</span>
        </a>
        <img
          src="../img/home-x-logo.png"
          style="width: 74px; height: 74px; position: relative; left: -5px"
        />
        <a
          href="withdrawal.html"
          class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
        >
          <img
            src="../img/icon/icon-withdrawal.png"
            width="14"
            style="color: white"
          />
          <span class="ms-2">Withdrawal</span>
        </a>
      </div>
      <div class="home-header-bg-area"></div>
      <div class="container container-xs home-custom-hight position-relative">
        <div class="d-flex align-items-end mb-2">
          <div class="me-2">
            <a href="customerSupport.html" class="btn btn-sm btn-grnd">
              <img
                src="../img/icon/icon-phone-call.svg"
                alt="phone call"
                width="15"
              />
            </a>
          </div>
          <div class="d-flex flex-grow-1">
            <div class="col d-flex justify-content-end">
              <a href="#" class="card-tile">
                <div class="mb-2">
                  <img src="../img/icon/icon-money.svg" width="21" />
                </div>
                <div class="fw-700 fs-12 text-white mb-1">12,526</div>
                <div class="text-white-75 fs-10">Points</div>
              </a>
            </div>
            <div class="col d-flex justify-content-center">
              <a href="#" class="card-tile">
                <div class="mb-2">
                  <img src="../img/icon/icon-star.svg" width="25" />
                </div>
                <div class="fw-700 fs-12 text-white mb-1">146</div>
                <div class="text-white-75 fs-10">Bonus</div>
              </a>
            </div>
            <div class="col d-flex justify-content-start">
              <a href="#" class="card-tile">
                <div class="mb-2">
                  <img src="../img/icon/icon-achivements.svg" width="22" />
                </div>
                <div class="fw-700 fs-12 text-white mb-1">95,000</div>
                <div class="text-white-75 fs-10">leaderboard</div>
              </a>
            </div>
          </div>
          <div class="d-flex justify-content-end ms-2">
            <a href="#" class="btn btn-sm btn-grnd">
              <img
                src="../img/icon/icon-search.svg"
                alt="phone call"
                width="15"
              />
            </a>
          </div>
        </div>
        <div class="wrapper home-ban"></div>

        <!-- second slider -->
        <div class="wrapper h-10">
          <div class="carousel-btn single-slide button_slider">
            <div class="">
              <p class="slider_purple_btn">In Play</p>
            </div>

            <div class="">
              <p class="slider_purple_btn">CRICKET</p>
            </div>

            <div class="">
              <p class="slider_purple_btn">CRICKET</p>
            </div>
            <div class="">
              <p class="slider_purple_btn">CRICKET</p>
            </div>
            <div class="">
              <p class="slider_purple_btn">CRICKET</p>
            </div>
            <!-- <a class="slider_purple_btn">CRICKET</a>
            <a class="slider_purple_btn">FOOTBALL</a> -->
            <!-- <div><img src="../img/avatar/home/Group 360.png" /></div>
            <div><img src="../img/avatar/home/Group 361.png" /></div>
            <div><img src="../img/avatar/home/Group 362.png" /></div>
            <div><img src="../img/avatar/home/Group 364.png" /></div>
            <div><img src="../img/avatar/home/Group 365.png" /></div>
            <div><img src="../img/avatar/home/Group 366.png" /></div>
            <div><img src="../img/avatar/home/Group 367.png" /></div> -->
          </div>
        </div>

        <!-- Second slider end -->
        <div
          class="wrapper d-flex align-items-center justify-content-center gap-10"
        >
          <ul
            class="nav nav-pills nav-fill nav-custom mb-1"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active border-radius-none"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
              >
                Today
              </button>
            </li>
            <li class="nav-item mx-2" role="presentation">
              <button
                class="nav-link border-radius-none"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
              >
                Tomorrow
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link border-radius-none"
                id="pills-contact-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-contact"
                type="button"
                role="tab"
                aria-controls="pills-contact"
                aria-selected="false"
              >
                Upcoming
              </button>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
            tabindex="0"
          >
            <!-- tab 1 today starts -->
            <!-- upcoming events -->
            <div class="col-12">
              <div
                class="card casino my-5 mb-5"
                style="margin-bottom: 1rem !important"
              >
                <div class="title-bar">
                  <div class="title-bar__label text-yellow">Live Casino</div>
                  <div>
                    <div class="title-bar__label">All &gt;</div>
                  </div>
                </div>

                <div class="title-bar">
                  <div
                    class="title-bar__label fs-10 fw-500 text-yellow d-flex align-items-center"
                  >
                    <div>
                      <img
                        src="../img/avatar/home/stumpvqev 1.png"
                        alt=""
                        srcset=""
                        width="25"
                      />Tennis
                    </div>

                    <div>
                      <button class="btn btn-live">Live</button>
                    </div>
                  </div>
                  <div>
                    <div class="title-bar__label fs-10 fw-500 text-yellow">
                      Upcoming events &gt;
                    </div>
                  </div>
                </div>

                <!-- match slider starts -->
                <div class="wrapper">
                  <div class="carousel single-slide">
                    <div><img src="../img/avatar/home/1.png" /></div>
                    <div><img src="../img/avatar/home/1.png" /></div>
                    <div><img src="../img/avatar/home/1.png" /></div>
                    <div><img src="../img/avatar/home/1.png" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- tab 2 tomorrow starts -->
          <div
            class="tab-pane fade"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
            tabindex="0"
          >
            <!-- upcoming events -->
            <div class="col-12">
              <div
                class="card casino my-5 mb-5"
                style="margin-bottom: 1rem !important"
              >
                <div class="title-bar">
                  <div class="title-bar__label text-yellow">Live Casino</div>
                  <div>
                    <div class="title-bar__label">All &gt;</div>
                  </div>
                </div>

                <div class="title-bar">
                  <div
                    class="title-bar__label fs-10 fw-500 text-yellow d-flex align-items-center"
                  >
                    <div>
                      <img
                        src="../img/avatar/home/stumpvqev 1.png"
                        alt=""
                        srcset=""
                        width="25"
                      />Tennis
                    </div>

                    <div>
                      <button class="btn btn-live">Live</button>
                    </div>
                  </div>
                  <div>
                    <div class="title-bar__label fs-10 fw-500 text-yellow">
                      Upcoming events &gt;
                    </div>
                  </div>
                </div>

                <!-- match slider starts -->
                <div class="wrapper">
                  <div class="carousel single-slide">
                    <div><img src="../img/avatar/home/1.png" /></div>
                    <div><img src="../img/avatar/home/1.png" /></div>
                    <div><img src="../img/avatar/home/1.png" /></div>
                    <div><img src="../img/avatar/home/1.png" /></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- upcoming events -->
            <div class="col-12">
              <div class="card mb-10 bs-b" bis_skin_checked="1">
                <div
                  class="card-header btn-theme-bg p-0 d-flex align-items-center"
                  bis_skin_checked="1"
                >
                  <div class="px-0">
                    <button class="btn btn-live mx-2">Live</button>
                  </div>
                  <span class="text-light"
                    >YOUTH TEAMS, ICC U-19 WORLD CUP</span
                  >
                </div>

                <div class="card-body pt-5px px-2 py-0" bis_skin_checked="1">
                  <div class="table-headbet" bis_skin_checked="1">
                    <div class="row ptb-4 b-b text-purple" bis_skin_checked="1">
                      <div
                        class="col-8 d-flex flex-column"
                        bis_skin_checked="1"
                      >
                        <span class="text-purple fs-10 fw-700">Zimbabwe</span>
                        <p class="fs-10 fw-700 text-purple m-0">
                          [ <span class="text-magenta fs-10 fw-700">0</span> ]
                        </p>
                      </div>
                      <div
                        class="col-4 d-flex justify-content-around"
                        bis_skin_checked="1"
                      >
                        <div class="d-flex" bis_skin_checked="1">
                          <div
                            class="h-100 d-flex flex-column label-blue fs-12 fw-700 bet-btn"
                            bis_skin_checked="1"
                          >
                            <span class="label-blue fs-12 fw-700">1.08</span>

                            <span class="fs-6 fw-700">2.06</span>
                          </div>
                        </div>
                        <div
                          class="h-100 d-flex flex-column label-red fs-12 fw-700 bet-btn"
                          bis_skin_checked="1"
                        >
                          <span class="label-red fs-12 fw-700">1.08</span>

                          <span class="fs-6 fw-700">2.06</span>
                        </div>
                      </div>
                    </div>

                    <div class="row ptb-4 b-b text-purple" bis_skin_checked="1">
                      <div
                        class="col-8 d-flex flex-column"
                        bis_skin_checked="1"
                      >
                        <span class="text-purple fs-10 fw-700">Sri Lanka</span>
                        <p class="fs-10 fw-700 text-purple m-0">
                          [ <span class="text-magenta fs-10 fw-700">0</span> ]
                        </p>
                      </div>
                      <div
                        class="col-4 d-flex justify-content-around"
                        bis_skin_checked="1"
                      >
                        <div class="d-flex" bis_skin_checked="1">
                          <div
                            class="h-100 d-flex flex-column label-blue fs-12 fw-700 bet-btn"
                            bis_skin_checked="1"
                          >
                            <span class="label-blue fs-12 fw-700">1.08</span>

                            <span class="fs-6 fw-700">2.06</span>
                          </div>
                        </div>
                        <div
                          class="h-100 d-flex flex-column label-red fs-12 fw-700 bet-btn"
                          bis_skin_checked="1"
                        >
                          <span class="label-red fs-12 fw-700">1.08</span>

                          <span class="fs-6 fw-700">2.06</span>
                        </div>
                      </div>
                    </div>

                    <div class="row text-purple table_bg-gray">
                      <p class="text-center m-0">
                        1st Inning 157/4 (36.5) Overs
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- tab 3 upcoming starts -->
          <div
            class="tab-pane fade"
            id="pills-contact"
            role="tabpanel"
            aria-labelledby="pills-contact-tab"
            tabindex="0"
          >
            <!-- upcoming events -->
            <div class="col-12">
              <div
                class="card casino my-5 mb-5"
                style="margin-bottom: 1rem !important"
              >
                <div class="title-bar">
                  <div class="title-bar__label text-yellow">Live Casino</div>
                  <div>
                    <div class="title-bar__label">All &gt;</div>
                  </div>
                </div>

                <div class="title-bar">
                  <div
                    class="title-bar__label fs-10 fw-500 text-yellow d-flex align-items-center"
                  >
                    <div>
                      <img
                        src="../img/avatar/home/stumpvqev 1.png"
                        alt=""
                        srcset=""
                        width="25"
                      />Tennis
                    </div>

                    <div>
                      <button class="btn btn-live">Live</button>
                    </div>
                  </div>
                  <div>
                    <div class="title-bar__label fs-10 fw-500 text-yellow">
                      Upcoming events &gt;
                    </div>
                  </div>
                </div>

                <!-- match slider starts -->
                <div class="wrapper">
                  <div class="carousel single-slide">
                    <div><img src="../img/avatar/home/1.png" /></div>
                    <div><img src="../img/avatar/home/1.png" /></div>
                    <div><img src="../img/avatar/home/1.png" /></div>
                    <div><img src="../img/avatar/home/1.png" /></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- upcoming events -->
            <div class="col-12">
              <div class="card mb-10 bs-b" bis_skin_checked="1">
                <div
                  class="card-header btn-theme-bg p-0 d-flex align-items-center"
                  bis_skin_checked="1"
                >
                  <div class="px-0">
                    <button class="btn btn-live mx-2">Live</button>
                  </div>
                  <span class="text-light"
                    >YOUTH TEAMS, ICC U-19 WORLD CUP</span
                  >
                </div>

                <div class="card-body pt-5px px-2 py-0" bis_skin_checked="1">
                  <div class="table-headbet" bis_skin_checked="1">
                    <!-- row 1 starts -->
                    <div class="row ptb-4 b-b text-purple" bis_skin_checked="1">
                      <div
                        class="col-8 d-flex flex-column"
                        bis_skin_checked="1"
                      >
                        <span class="text-purple fs-10 fw-700">Zimbabwe</span>
                        <p class="fs-10 fw-700 text-purple m-0">
                          [ <span class="text-magenta fs-10 fw-700">0</span> ]
                        </p>
                      </div>
                      <div
                        class="col-4 d-flex justify-content-around"
                        bis_skin_checked="1"
                      >
                        <div class="d-flex" bis_skin_checked="1">
                          <div
                            class="h-100 d-flex flex-column label-blue fs-12 fw-700 bet-btn"
                            bis_skin_checked="1"
                          >
                            <span class="label-blue fs-12 fw-700">1.08</span>

                            <span class="fs-6 fw-700">2.06</span>
                          </div>
                        </div>
                        <div
                          class="h-100 d-flex flex-column label-red fs-12 fw-700 bet-btn"
                          bis_skin_checked="1"
                        >
                          <span class="label-red fs-12 fw-700">1.08</span>

                          <span class="fs-6 fw-700">2.06</span>
                        </div>
                      </div>
                    </div>
                    <!-- row 2 starts -->
                    <div class="row ptb-4 b-b text-purple" bis_skin_checked="1">
                      <div
                        class="col-8 d-flex flex-column"
                        bis_skin_checked="1"
                      >
                        <span class="text-purple fs-10 fw-700">Sri Lanka</span>
                        <p class="fs-10 fw-700 text-purple m-0">
                          [ <span class="text-magenta fs-10 fw-700">0</span> ]
                        </p>
                      </div>
                      <div
                        class="col-4 d-flex justify-content-around"
                        bis_skin_checked="1"
                      >
                        <div class="d-flex" bis_skin_checked="1">
                          <div
                            class="h-100 d-flex flex-column label-blue fs-12 fw-700 bet-btn"
                            bis_skin_checked="1"
                          >
                            <span class="label-blue fs-12 fw-700">1.08</span>

                            <span class="fs-6 fw-700">2.06</span>
                          </div>
                        </div>
                        <div
                          class="h-100 d-flex flex-column label-red fs-12 fw-700 bet-btn"
                          bis_skin_checked="1"
                        >
                          <span class="label-red fs-12 fw-700">1.08</span>

                          <span class="fs-6 fw-700">2.06</span>
                        </div>
                      </div>
                    </div>
                    <!-- row 3 starts -->
                    <div class="row ptb-4 b-b text-purple" bis_skin_checked="1">
                      <div
                        class="col-8 d-flex flex-column"
                        bis_skin_checked="1"
                      >
                        <span class="text-purple fs-10 fw-700">Draw</span>
                        <p class="fs-10 fw-700 text-purple m-0">
                          [ <span class="text-magenta fs-10 fw-700">0</span> ]
                        </p>
                      </div>
                      <div
                        class="col-4 d-flex justify-content-around"
                        bis_skin_checked="1"
                      >
                        <div class="d-flex" bis_skin_checked="1">
                          <div
                            class="h-100 d-flex flex-column label-blue fs-12 fw-700 bet-btn"
                            bis_skin_checked="1"
                          >
                            <span class="label-blue fs-12 fw-700">1.08</span>

                            <span class="fs-6 fw-700">2.06</span>
                          </div>
                        </div>
                        <div
                          class="h-100 d-flex flex-column label-red fs-12 fw-700 bet-btn"
                          bis_skin_checked="1"
                        >
                          <span class="label-red fs-12 fw-700">1.08</span>

                          <span class="fs-6 fw-700">2.06</span>
                        </div>
                      </div>
                    </div>
                    <div class="row text-purple table_bg-gray">
                      <p class="text-center m-0">
                        1st Inning 157/4 (36.5) Overs
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bg-area"></div>
      </div>

      <div class="footer">
        <div class="footer-tab flex-grow-1 after-line">
          <a href="home.html" class="tab-action">
            <img src="../img/icon/icon-x-active.svg" class="tab-icon" />
            <div class="tab-label">Home</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 after-line">
          <a href="./inplay.html" class="tab-action">
            <img src="../img/icon/icon-play.svg" class="tab-icon" />
            <div class="tab-label">In-Play</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1">
          <a href="referEarn.html" class="tab-action">
            <img src="../img/icon/icon-refer.svg" class="tab-icon" />
            <div class="tab-label">Refer &amp; Earn</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="./livecasino.html" class="tab-action">
            <img src="../img/icon//icon-casino.svg" class="tab-icon" />
            <div class="tab-label">Casino</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="menu.html" class="tab-action">
            <img src="../img/icon/icon-menu-bar.svg" class="tab-icon" />
            <div class="tab-label" style="margin-bottom: -8px">Menu</div>
          </a>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>
    <script>
      //     $(document).ready(function(){
      //   $('.carousel').slick({
      //   slidesToShow: 1,
      //   dots:true,
      //   centerMode: true,
      //   });
      // });

      // Slick version 1.5.8

      $(".carousel").slick({
        centerMode: true,
        centerPadding: "60px",
        slidesToShow: 1,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerMode: true,

              slidesToShow: 3,
            },
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,

              slidesToShow: 1,
            },
          },
        ],
      });

      $(".carousel-btn").slick({
        centerMode: true,
        //   centerPadding: '60px',
        slidesToShow: 1,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerMode: true,

              slidesToShow: 3,
            },
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,

              slidesToShow: 3,
            },
          },
        ],
      });

      $(".carousel-small-img").slick({
        centerMode: true,
        //   centerPadding: '60px',
        slidesToShow: 1,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerMode: true,

              slidesToShow: 3,
            },
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,

              slidesToShow: 3,
            },
          },
        ],
      });
    </script>
  </body>
</html>
