<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/new_style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />

    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/jquery.min.js"></script>
    <style>
      .border_box-shadow {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }
      .border_white {
        border: 0.5px solid #ffffff7b;
      }
      .bg-dark_blue {
        background-color: #446385;
      }
      .bg-gold {
        background-color: #c9a950;
      }
      .bg-sliver {
        background-color: #b6b9be;
      }
      .w_280_h_41 {
        width: 280px;
        height: 41px;
      }
      .h-41 {
        height: 41px;
      }
      .loyalty_img {
        width: 33px;
        height: 28px;
        margin-right: 10px;
      }
      .bank-detail.mb-3.text-dark.px-0 {
        padding: 1px 0;
      }
      .app-main.point_container .bank-detail__row {
        margin-bottom: 1px;
      }
      .z-index-1 {
        z-index: 1;
      }
    </style>
  </head>
  <body>
    <div
      class="home-header d-flex justify-content-between align-items-center pt-4 z-3 page-header"
    >
      <a
        href="deposite.html"
        class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
      >
        <img src="../img/icon/icon-deposit.png" width="14" />
        <span class="ms-2 pl-5">Deposit</span>
      </a>
      <a href="./home.html">
        <img src="../img/home-x-logo.png" class="logo_xnew position-relative" />
      </a>
      <a
        href="withdrawal.html"
        class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
      >
        <img
          src="../img/icon/icon-withdrawal.png"
          width="14"
          style="color: white"
        />
        <span class="ms-2">Withdrawal</span>
      </a>
    </div>
    <div class="home-header-bg-area h-66"></div>
    <div class="container container-xs home-bg vh-100">
      <div class="app-main point_container">
        <div class="mt-5">
          <div class="col-12 br-5">
            <img
              src="../img/avatar/points/Group 304.png"
              alt=""
              srcset=""
              class="w-100 border_box-shadow br-5"
            />
          </div>
        </div>

        <div class="mt-4 px-4">
          <div
            class="border_white br-5 bg-dark_blue h-41 text-light fw-800 fs-16 d-flex justify-content-center align-items-center"
          >
            <img
              src="../img/avatar/points/Frame.png"
              alt="icon"
              class="loyalty_img"
            />
            <span>Club Platinum</span>
          </div>

          <!-- test starts -->
          <div class="bank-detail mb-3 text-dark px-0 br-nonepoint">
            <div class="bank-detail__row text-center">
              <div class="bank-detail__label justify-content-center">
                <span>Montly Deposit</span>
              </div>
              <div class="bank-detail__data justify-content-center">
                10 Lac and Above
              </div>
            </div>

            <div class="bank-detail__row">
              <div class="bank-detail__label justify-content-center">
                <span>Monthly Active Days</span>
              </div>
              <div class="bank-detail__data justify-content-center">
                20 and Above
              </div>
            </div>
            <div class="bank-detail__row">
              <div class="bank-detail__label justify-content-center">
                <span>Lossback Bonus</span>
              </div>
              <div class="bank-detail__data justify-content-center">10%</div>
            </div>
            <div class="bank-detail__row">
              <div class="bank-detail__label justify-content-center">
                <span>Referral Bonus</span>
              </div>
              <div class="bank-detail__data justify-content-center">10%</div>
            </div>
          </div>
          <!-- test Ends -->
        </div>
        <div class="mt-4 px-4">
          <div
            class="border_white br-5 bg-gold h-41 text-light fw-800 fs-16 d-flex justify-content-center align-items-center"
          >
            <img
              src="../img/avatar/points/golde-icon 1.png"
              alt="icon"
              width="28px"
              height="28px"
            />
            <span class="px-2">Club Gold</span>
          </div>
          <!-- test starts -->
          <div class="bank-detail mb-3 text-dark px-0 br-nonepoint">
            <div class="bank-detail__row text-center">
              <div class="bank-detail__label justify-content-center">
                <span>Montly Deposit</span>
              </div>
              <div class="bank-detail__data justify-content-center">
                5 Lac to 10 Lac
              </div>
            </div>

            <div class="bank-detail__row">
              <div class="bank-detail__label justify-content-center">
                <span>Monthly Active Days</span>
              </div>
              <div class="bank-detail__data justify-content-center">
                16 Days and Above
              </div>
            </div>
            <div class="bank-detail__row">
              <div class="bank-detail__label justify-content-center">
                <span>Lossback Bonus</span>
              </div>
              <div class="bank-detail__data justify-content-center">7%</div>
            </div>
            <div class="bank-detail__row">
              <div class="bank-detail__label justify-content-center">
                <span>Referral Bonus</span>
              </div>
              <div class="bank-detail__data justify-content-center">7%</div>
            </div>
          </div>
          <!-- test Ends -->
        </div>
        <div class="mt-4 px-4">
          <div
            class="border_white br-5 bg-sliver h-41 text-light fw-800 fs-16 d-flex justify-content-center align-items-center"
          >
            <img
              src="../img/avatar/points/Layer_1.png"
              alt="icon"
              width="28px"
              height="28px"
            />
            <span class="px-2">Club Silver</span>
          </div>
          <!-- test starts -->
          <div class="bank-detail mb-3 text-dark px-0 br-nonepoint">
            <div class="bank-detail__row text-center">
              <div class="bank-detail__label justify-content-center">
                <span>Montly Deposit</span>
              </div>
              <div class="bank-detail__data justify-content-center">
                1 Lac to 5 Lac
              </div>
            </div>

            <div class="bank-detail__row">
              <div class="bank-detail__label justify-content-center">
                <span>Monthly Active Days</span>
              </div>
              <div class="bank-detail__data justify-content-center">
                12 Days and Above
              </div>
            </div>
            <div class="bank-detail__row">
              <div class="bank-detail__label justify-content-center">
                <span>Lossback Bonus</span>
              </div>
              <div class="bank-detail__data justify-content-center">6%</div>
            </div>
            <div class="bank-detail__row">
              <div class="bank-detail__label justify-content-center">
                <span>Referral Bonus</span>
              </div>
              <div class="bank-detail__data justify-content-center">6%</div>
            </div>
          </div>
          <!-- test Ends -->
        </div>
        <div class="footer-bg-area"></div>
      </div>

      <!-- footer starts -->
      <div class="footer">
        <div class="footer-tab flex-grow-1 after-line">
          <a href="home.html" class="tab-action">
            <img src="../img/icon/icon-x-active.svg" class="tab-icon" />
            <div class="tab-label">Home</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 after-line">
          <a href="./inplay.html" class="tab-action">
            <img src="../img/icon/icon-play.svg" class="tab-icon" />
            <div class="tab-label">In-Play</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1">
          <a href="./refer&earn.html" class="tab-action">
            <img src="../img/icon/icon-refer.svg" class="tab-icon" />
            <div class="tab-label">Refer &amp; Earn</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="./livecasino.html" class="tab-action">
            <img src="../img/icon//icon-casino.svg" class="tab-icon" />
            <div class="tab-label">Casino</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="menu.html" class="tab-action">
            <img src="../img/icon/icon-menu-bar.svg" class="tab-icon" />
            <div class="tab-label" style="margin-bottom: -8px">Menu</div>
          </a>
        </div>
      </div>
      <!-- footer Ends -->
    </div>
  </body>
</html>
