

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sikander PlayX</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="../css/new_style.css">
        <link
        rel="stylesheet"
        href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
      />
      <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet" />

        <script src="../js/bootstrap.bundle.js"></script>
        <script src="../js/jquery.min.js"></script>
     
    </head>
   
  </head>
  <body>
    <div
    class="home-header d-flex justify-content-between align-items-center pt-4 z-3 page-header"
  >
    <a
      href="deposite.html"
      class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
    >
      <img src="../img/icon/icon-deposit.png" width="14" />
      <span class="ms-2 pl-5">Deposit</span>
    </a>
    <a href="./home.html">
      <img
      src="../img/home-x-logo.png"
      class="logo_xnew position-relative" 
    />
    </a>
   
    <a
      href="withdrawal.html"
      class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
    >
      <img
        src="../img/icon/icon-withdrawal.png"
        width="14"
        style="color: white"
      />
      <span class="ms-2">Withdrawal</span>
    </a>
  </div>
  <div class="home-header-bg-area h-66"></div>
    <div class="container container-xs overflow-x home-bg vh-100">
  
      <div class="app-main mt-2 overflow-x_hidden">
        <div class="text-white fw-800 mb-2 fs-15 text-capitalize py-2 px-3">
          Welcome to the Referral program by sikanderplayx
        </div>

        <swiper-container class="mySwiper patti"  slides-per-view="3"
        space-between="10" free-mode="true">
        <swiper-slide><img src="../img/avatar/ref&earn/Group 408.png"/></swiper-slide>
        <swiper-slide><img src="../img/avatar/ref&earn/Group 408.png"/></swiper-slide>
        <swiper-slide><img src="../img/avatar/ref&earn/Group 408.png"/></swiper-slide>
        <swiper-slide><img src="../img/avatar/ref&earn/Group 408.png"/></swiper-slide>
        <swiper-slide><img src="../img/avatar/ref&earn/Group 408.png"/></swiper-slide>
        <swiper-slide><img src="../img/avatar/ref&earn/Group 408.png"/></swiper-slide>
        <swiper-slide><img src="../img/avatar/ref&earn/Group 408.png"/></swiper-slide>
        <swiper-slide><img src="../img/avatar/ref&earn/Group 408.png"/></swiper-slide>
       
      </swiper-container>
     
        <div class="container fs-12 text-white fw-600 p-3 pt-2 mx-3">
          <div class="refer-cont">
            <div class="refer-head">Share Code</div>
            <div class="refer-content">Friend uses code to register</div>
          </div>

          <div class="refer-cont text-capitalize">
            <div class="refer-head text-capitalize">you get rewards</div>
            <div class="refer-content">
              5% refer bonus (instant)
            </div>
              <div class="refer-content">"As you achieve milestones in our Loyalty
              Club Program, your referral percentage will increase, allowing you
              to earn higher bonuses for successful referrals."
            </div>
          </div>
        </div>

        <!-- <div class="bank-detail__row">
          <div class="bank-detail__label">
            <span class="fs-13 fw-600">Your Referal Code</span>
          </div>
          <div class="bank-detail__data">
            KingsikanderX0041 <img src="../img/icon/icon-bank.png" />
          </div>
        </div> -->

     
        <!-- test starts -->
        <div class="table-responsive text-dark mx-3 mobilemx-4">
            <table class="table-cus mb-2">
                <tbody>
                    <tr>
                        <td>Your Referal Code</td>
                        <td>KingsikanderX0041</td>
                        <td>
                            <img src="../img/avatar/ref&earn/Vector (1).png" width="9px" height="11px">
                        </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
        <!-- test Ends -->

        <!-- section starts -->
            <div class="d-flex justify-content-evenly mx-3  mobilemx-5">
                <div class="image_div_container br-5 mt-1">
                  <img src="../img/avatar/ref&earn/JOIN-FORCES 4.jpg" alt="image_pic" />
                </div>
      
                <div>
                  <div class="bg-white br-5 social_icon_container">
                    <img src="../img/avatar/ref&earn/Frame.png" alt="social_icon" />
                  </div>
                  <div class="bg-white br-5 social_icon_container">
                      <img src="../img/avatar/ref&earn/Facebook_Logo_2023.png" alt="facbook_icon" />
                    </div>
                    <div class="bg-white br-5 social_icon_container">
                      <img src="../img/avatar/ref&earn/Instagram_icon.png" alt="instagram_icon" />
                    </div>
                    <div class="bg-white br-5 social_icon_container">
                      <img src="../img/avatar/ref&earn/Telegram_logo.png" alt="telegram_icon" />
                    </div>
                    <div class="bg-white br-5 social_icon_container">
                      <img src="../img/avatar/ref&earn/ph_link-bold.png" alt="link_icon" />
                    </div>
                </div>
      
                <div>
                  <div class="share_btn label-blue fs-12 fw-500 br-5">
                      <span class="text-dark">Share</span>
                      <img src="../img/avatar/ref&earn/Vector.png" alt="">
                  </div>
                  <div class="share_btn label-blue fs-12 fw-500 br-5">
                      <span class="text-dark">Share</span>
                      <img src="../img/avatar/ref&earn/Vector.png" alt="">
                  </div>
                  <div class="share_btn label-blue fs-12 fw-500 br-5">
                      <span class="text-dark">Share</span>
                      <img src="../img/avatar/ref&earn/Vector.png" alt="">
                  </div>
      
                  <div class="share_btn label-blue fs-12 fw-500 br-5">
                      <span class="text-dark">Share</span>
                      <img src="../img/avatar/ref&earn/Vector.png" alt="">
                  </div>
                  <div class="share_btn label-blue fs-12 fw-500 br-5">
                      <span class="text-dark">Share</span>
                      <img src="../img/avatar/ref&earn/Vector.png" alt="">
                  </div>
                </div>
              </div>
        <!-- section Ends -->
      </div>

      <!-- footer starts -->
      <div class="footer">
        <div class="footer-tab flex-grow-1 after-line">
          <a href="home.html" class="tab-action">
            <img src="../img/icon/icon-x.svg" class="tab-icon" />
            <div class="tab-label">Home</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 after-line">
          <a href="inplay.html" class="tab-action">
            <img src="../img/icon/icon-play.svg" class="tab-icon" />
            <div class="tab-label">In-Play</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1">
          <a href="./refer&earn.html" class="tab-action">
            <img src="../img/avatar/ref&earn/ref.png" class="tab-icon" width="18px" height="18px" />
            <div class="tab-label">Refer &amp; Earn</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="./livecasino.html" class="tab-action">
            <img src="../img/icon//icon-casino.svg" class="tab-icon" />
            <div class="tab-label">Casino</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="menu.html" class="tab-action">
            <img src="../img/icon/icon-menu-bar.svg" class="tab-icon" />
            <div class="tab-label" style="margin-bottom: -8px">Menu</div>
          </a>
        </div>
      </div>
      <!-- footer Ends -->
    </div>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

  </body>
</html>
